@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --custom-btn-blue: #3282f7;
  --custom-btn-green: #68d9a4;
  --custom-btn-red: #ed6454;
  --custom-logo-red: #d14e4f;
  --custom-bg-light-gray: #e7e7e7;
  --custom-bg-dark-gray: #c7bebe;
}

/* Custom classes for colors */

.cs-bg-blue {
  background-color: var(--custom-btn-blue) !important;
}

.cs-bg-green {
  background-color: var(--custom-btn-green) !important;
}

.cs-bg-red {
  background-color: var(--custom-btn-red) !important;
}

.cs-logo-red {
  background-color: var(--custom-logo-red) !important;
}

.cs-bg-dark-gray {
  background-color: var(--custom-bg-dark-gray) !important;
}

.cs-bg-light-gray {
  background-color: var(--custom-bg-light-gray) !important;
}

.cs-bg-blue,
.cs-bg-green,
.cs-bg-red,
.cs-logo-red,
.cs-bg-blue:hover,
.cs-bg-green:hover,
.cs-bg-red:hover,
.cs-logo-red:hover,
.cs-bg-blue:disabled,
.cs-bg-green:disabled,
.cs-bg-red:disabled,
.cs-logo-red:disabled {
  color: white;
  border: none;
}

.cs-bg-blue,
.cs-bg-green,
.cs-bg-red,
.cs-logo-red {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

/* End of custom classes */

body {
  font-family: "Lato", sans-serif;
}

header {
  height: 140px;
}

header img {
  height: 100px;
}

#searchbar input {
  background-color: #e7e7e7;
  height: 4.3rem;
  font-size: 1.125rem;
}

#searchbar input::placeholder {
  color: #aaaaaa;
}

#options {
  gap: 10px;
}

#options button {
  --bs-btn-font-size: 0.8rem;
}

#filters button {
  --bs-btn-font-size: 1rem;
  --bs-btn-padding-y: 1.35rem;
  --bs-btn-padding-x: 1rem;
  width: 10rem;
  font-size: 1.125rem;
}

.filters-dropdown button:hover,
#options button:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

.search-field {
  inset: 0px auto 0px;
  z-index: 1;
}

.search-field ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}

.search-field ul li {
  cursor: pointer;
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-field ul li:hover {
  background-color: rgb(207, 207, 207);
}

.search-field input::placeholder {
  color: rgb(245, 245, 245);
}

#ingredients-search-field,
#appliances-search-field,
#ustensils-search-field {
  width: max-content;
}

.card-title {
  font-size: 1.125rem;
  text-overflow: ellipsis;
}

.card-description {
  font-size: 0.75rem;
}

/* Thanks to https://codepen.io/aurer/pen/kGRNVw */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: var(--custom-logo-red);
}
